menuconfig MEMLEASE
    bool "Memlease"
	default y

if MEMLEASE

config MEMLEASE_NUM_ENTRIES_PER_BUF
    int "Number of entries per buffer"
    default 32

config MEMLEASE_THREAD_STACK_SIZE
	int "Memlease thread stack size"
	default 1024

config MEMLEASE_THREAD_PRIORITY
	int "Memlease thread priority"
	default 7

endif # MEMLEASE

module = MEMLEASE
module-str = Memlease
source "subsys/logging/Kconfig.template.log_config"
